@import './mixin.scss';

.main-class{
   overflow:hidden;
  @include centering;
  .text{
    h1{
        width:300px;
        font-wight:normal;
        color:hsl(233, 26%, 24%);
    }
    p{
        color:gray;
        width:400px;
    }
    button{
        background-image: linear-gradient(to right,hsl(136, 65%, 51%),hsl(192, 70%, 51%) );  
        padding:13px;
        color: hsl(0, 0%, 100%);
        border-radius:20px;
        border:none;
    }
  }
  .phone{
    background-image:url('../images/bg-intro-mobile.svg');
    overflow:hidden;
    background-size:cover;
    position: relative;
    top: -70px;
    left:105px;
    overflow: hidden;
    z-index: -1;
    img{
        position: relative;
        top:40%
    }
  }
}